<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Mongoose App</title>
	<style media="screen">
		form {
		display: inline-block;
		text-align: right;
		}
	</style>
</head>
<body>
	<form action="/users" method="post">
		Name:
		<input type="text" name="name"><br>
		Age:
		<input type="text" name="age"><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>
